@import '_vars';
@import 'modules/_navbar';
@import 'modules/_users';
@import 'modules/_lightbox';
@import 'modules/error';



@media screen and (max-width: 46.874em){
h1 {
    color:#FF3752;
    font-family: adhesive-nr-seven, serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
  
}

.bio-info
{
    margin-top: 2em;
    padding: 10px;
    margin-left: 1em;
  
}

.p-name{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    color: $main-color;
    background-color: $body-bg;
}





.panel:nth-child(odd) {
    background-color:#FFCAE2;
    color: white;
 
}

#to-top { position: fixed; bottom: 10px; right: 10px; display: none; }
}


@media screen and (min-width: 46.874em) and (max-width: 64em){

    h1 {
        color: crimson;
        font-family: adhesive-nr-seven, serif;
        font-weight: 400;
        font-style: normal;
     
        text-align: center;
      
    }
    
    .bio-info
    {
        margin-top: 2em;
        padding: 10px;
        margin-left: 1em;
    }
    
    .p-name{
        font-family: Arial, Helvetica, sans-serif;
    }

    body {
        color: $main-color;
        background-color: $body-bg;
    }
    
    
    
    
    
    .panel:nth-child(odd) {
        background-color:#FFCAE2;
        color: white;
    }
    
    #to-top { position: fixed; bottom: 10px; right: 10px; display: none; }
    

}

@media screen and (min-width: 64em){
    h1 {
        color: crimson;
        font-family: adhesive-nr-seven, serif;
        font-weight: 400;
        font-style: normal;
 
     
        text-align: center;
      
    }

    .p-name{
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .bio-info
    {
        margin-top: 2em;
        padding: 10px;
        margin-left: 1em;
    }
    
    body {
        color: $main-color;
        background-color: $body-bg;
    }
    
    
    
    
    
    .panel:nth-child(odd) {
        background-color: #FFCAE2;
        color: white;
    }
    
    #to-top { position: fixed; bottom: 10px; right: 10px; display: none; }
    

}


@import 'modules/_footer'
