<section id="section1" class="panel">
    <div class="bio-info">
        <h1 class="p-name">Hi, my name is Sarah.</h1>
    </div>

</section>
{{!-- <section id="section2" class="panel">panel 2</section> --}}
<section id="section3" class="panel">
    <h1 class="user-panel-heading">
       Here's the tea: Three things I love!
    </h1>


    <h4>Click on a team member below to learn more about them.</h4>

    <div class="team">
        <!-- loop through all our team members and put their info on the page -->
        
        {{#each people}}
        <div class="user-panel">
            <img class="u-avatar" src="images/{{ avatar }}" alt="avatar">
            <a class="u-link" href="{{ ID }}">
                See more info
            </a>

        <h1>{{ Title }}</h1>
        <h3>{{ JobTitle }}</h3>

        </div>

{{/each}}
    </div>
    </div>

    <!-- this will be filled in on the client side when we render our AJAX data -->
    <section class="lightbox">
        <span class="close">x</span>
        <div class="sidebar">
            <img src="" alt="larger bio image">
        </div>

        <div class="lb-content">


        </div>
    </section>
</section>
<section id="section4" class="panel">panel 4</section>
<section id="section5" class="panel"></section>